
.testimonials {
    background-color: #eeeeee;
    padding: 50px 20px;
    text-align: center;
}

.testimonial {
    margin: 20px auto;
    width: 60%;
    font-style: italic;
}


.faq {
    padding: 50px 20px;
}

.question {
    margin-bottom: 20px;
}


.video {
    text-align: center;
    padding: 50px 20px;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.countdown {
    text-align: center;
    padding: 50px 20px;
}

#timer {
    font-size: 1.5em;
}





